* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Luxurious Roman", cursive;
}

p {
  font-family: "Inter", sans-serif;
}

.flexible-container {
  display: flex;
  margin: 3rem 5rem;
}
.left-sec {
  width: 50%;
}
.right-sec {
  width: 50%;
  padding-left: 20%;
}

.right-sec img {
  width: 98%;
}
.orange {
  color: orange;
}
.left-border {
  border-left: 3px solid #ff5959;
  padding-left: 10px;
  font-weight: 700;
  font-size: 2.1rem;
  margin-top: 25px;
}
.btn-design {
  text-decoration: none;
  background: #ff5959;
  color: white;
  padding: .8em 2em;
  margin: 10px 0px;
  border-radius: 5px;
}

.btn-design:hover {
  text-decoration: none;
  background:black;
  color: tomato;
  padding: .8em 2em;
  margin: 10px 0px;
  border-radius: 5px;
  transition: .5s ease-in-out;
}
.left-sec p {
  margin: 25px 0px;
  line-height: 1.5em;
}
.left-card {
  width: 30%;
  padding: 4%;
  background: #edf5f6;
  margin-right: 4%;
  margin-bottom: 4%;
  line-height: 1.5em;
  border-radius: 10px;
  box-shadow: 10px 10px 25px grey;
  
}
.left-card:hover {
  width: 30%;
  padding: 4%;
  background: #edf5f6;
  margin-right: 4%;
  margin-bottom: 4%;
  border-radius: 10px;
  line-height: 1.5em;
  box-shadow: 5px 5px 10px grey; 
}
.right-card {
  width: 30%;
  padding: 4%;
  background: #ffeeee;
  border-radius: 10px;
  margin-bottom: 4%;
  line-height: 1.5em;
  box-shadow: 10px 10px 25px grey;
}
.right-card h3{
  padding: 15px 0;
}
.middle-card h3{
padding: 15px 0;
}

.left-card h3{
padding: 15px 0;
}

.right-card:hover {
  width: 30%;
  padding: 4%;
  background: #ffeeee;
  border-radius: 10px;
  margin-bottom: 4%;
  line-height: 1.5em;
  box-shadow: 5px 5px 10px grey;
}

.middle-card {
  width: 30%;
  padding: 4%;
  background: #fff4d6;
  margin-right: 4%;
  border-radius: 10px;
  margin-bottom: 4%;
  line-height: 1.5em;
  box-shadow: 10px 10px 25px grey;
}

.middle-card:hover {
  width: 30%;
  padding: 4%;
  background: #fff4d6;
  margin-right: 4%;
  border-radius: 10px;
  margin-bottom: 4%;
  line-height: 1.5em;
  box-shadow: 5px 5px 10px grey;
}

.ilustrator-size {
  width: 30%;
}

.mission{
  text-align: center;
  font-weight: 700;
  font-size: 2.1rem ;
}



.image-size{
  transform: scale(1);
  width: 32%;
  height: 50vh;
  border-radius: 15px;
  transition: .9s ease-in-out;
}
.image-size:hover{
  transform: scale(1.1);
}

.third-side{
  width: 80%;
  margin: 2em 5em;
  padding: 4% 0;
}

.third-side p{
  padding-bottom: 1.9rem;
  line-height: 1.5em;
}

.third-side h3{
  margin: 20px 0;
  font-weight: 700;
  font-size: 1.6em;
}

#footer-sec{
  background-color: black;
  color: white;
  text-align: center;
  padding: 3rem 0;
}

#footer-sec h2{
  padding-bottom: 1.3em;
  font-style: italic;
} 
